


body {
  font-size: 18px;
  padding: 30px;
  line-height: 1.5;
  margin: auto;
  max-width: 800px;
  min-height:93vh;
}

.pic{
  width:240px;
}
.size{
  width:240px;
}

.width{
 width:240px;
}
img{
  object-fit: cover;
}

img {
  width: 240px;
  border-radius: 15%;
 }

.header-link {
  margin-left: 40px;
}

* {
  box-sizing: border-box;
}
.css-selector {
font-family: 'Montserrat', sans-serif;
}
/* Set a background image */
body {
  Background-color: white; 
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.name {
  color: black;

  padding:12px;
  text-shadow:0 15px 16px black;
}
/*highlight  text*/
mark {
background-color: rgb(252, 246, 235);
} 

/*photo size*/
img {
  width: 240px;
  border-radius: 15%;
 }
/*underline in purple*/
  wavy {
    text-decoration: underline wavy violet;
  }
