


body {
  font-size: 18px;
  padding: 40px;
  line-height: 1.5;
  margin: auto;
  max-width: 800px;
  min-height:93vh; 
  padding-bottom: 100px;
  font-family: "Open Sans";
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: rgb(242, 240, 247);
  background: linear-gradient(90deg, rgb(61, 61, 68) 0%, rgb(201, 194, 202) 52%, rgb(61, 61, 68) 100%);
  
}
 

.pic{
  width:240px;
}
.size{
  width:240px;
}

.width{
 width:240px;
}
img{
  object-fit: cover;
}

img {
  width: 240px;
  border-radius: 15%;
 }

.header-link {
  margin-left: 40px;
}

.construction {
  font-size: 14px;

}
* {
  box-sizing: border-box;
}
.css-selector {
font-family: 'Montserrat', sans-serif;
}
/* Set a background image */
body {
  Background-color: #5c5861; 
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.name {
  color: white;

  padding:12px;
  text-shadow:0 15px 16px whitesmoke;
}
.end {
  text-shadow:0 15px 16px whitesmoke;

}
/*highlight  text*/
mark {
background-color: white;
} 

/*photo size*/
img {
  width: 240px;
  border-radius: 15%;
 }
/*underline in purple*/
  wavy {
    text-decoration: underline wavy violet;
  }
 