


body {
  font-size: 18px;
  padding: 30px;
  line-height: 1.5;
  margin: auto;
  max-width: 800px;
  min-height:93vh;
  font: 
}

.pic{
  width:240px;
}
.size{
  width:240px;
}

.width{
 width:240px;
}
img{
  object-fit: cover;
}

img {
  width: 240px;
  border-radius: 15%;
 }

.header-link {
  margin-left: 40px;
}

.construction {
  font-size: 14px;

}
* {
  box-sizing: border-box;
}
.css-selector {
font-family: 'Montserrat', sans-serif;
}
/* Set a background image */
body {
  Background-color: #313534; 
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.name {
  color: white;

  padding:12px;
  text-shadow:0 15px 16px whitesmoke;
}
.end {
  text-shadow:0 15px 16px whitesmoke;

}
/*highlight  text*/
mark {
background-color: white;
} 

/*photo size*/
img {
  width: 240px;
  border-radius: 15%;
 }
/*underline in purple*/
  wavy {
    text-decoration: underline wavy violet;
  }
